footer {
  margin: 0 auto;
  background-color: #fff;
  font-family: 'Open Sans';
}
.conteudo-footer {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}

.endereco-titulo,
.horario-titulo,
.contatos-titulo {
  margin-bottom: 20px;
}

.fim {
  background-color: #d9d9d9;
}

.copy {
  font-family: 'Open Sans';
  background-color: #fff;
}

@media (max-width: 800px) {
  footer {
    font-size: 12px;
  }
  .copy {
    text-align: center;
    font-size: 12px;
  }
  .endereco-titulo,
  .horario-titulo,
  .contatos-titulo {
    margin-bottom: 5px;
  }
}
