* {
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 300px;
  padding-right: 300px;
}
button {
  display: block;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../imgs/bg.png');
}
img {
  max-width: 100%;
}
a {
  display: inherit;
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
#home span {
  padding-right: 20px;
}
.active {
  color: #f15f64;
}
.icon {
  width: 28px;
}
.icon.sm {
  width: 20px;
}
.hr {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}
.btn-container {
  display: flex;
  gap: 38px;
}
.btn {
  display: inline-flex;
  padding: 10px 25px;
  border: 1px solid #000;
  border-radius: 47px;
  width: max-content;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 20px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.acessar:hover {
  border-color: transparent;

  background: linear-gradient(180deg, #ff5564 0%, #ff5564 92.71%);
}
.btn.cadastro {
  background: linear-gradient(180deg, #faac1c 0%, #eea011 92.71%);
  border: none;
  &:hover {
    transition: 0.2s;
    background: linear-gradient(180deg, #f1b23d 0%, #f1b23d 92.71%);
  }
}
.btn.buscar {
  font-size: 20px;
  color: #fff;
  padding: 20px 40px;
  background: linear-gradient(180deg, #f15f64 0%, #e2494e 76.12%);
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  &:hover {
    transition: 0.2s;
    background: linear-gradient(180deg, #ff5564 0%, #ff5564 92.71%);
  }
}
